<div style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 40px auto;
    border-radius: 12px;
    background: linear-gradient(45deg, #ff6a00, #ffcc00, #ff00aa, #00fff2, #ff6a00);
    background-size: 300% 300%;
    animation: borderFlow 6s linear infinite;
    padding: 2px; /* bordure fine autour du orange */
    box-sizing: border-box;
">
    <!-- Bloc intÃ©rieur -->
    <div style="
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background: linear-gradient(90deg, #ff7b00ff, #ff9500);
        color: white;
        font-family: 'Segoe UI', Arial, sans-serif;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 20px 40px;
        border-radius: 10px; /* lÃ©gÃ¨rement infÃ©rieur au parent */
        text-transform: uppercase;
        box-shadow: inset 0 0 0 0 rgba(0,0,0,0), 0 3px 8px rgba(0,0,0,0.25);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    ">
        <img src="assets/img/bottleneck.png" 
             alt="Logo Bottleneck" 
             style="height: 120px; width: auto; filter: drop-shadow(0 0 6px rgba(0,0,0,0.3)); margin-right: 25px;">
        <div style="text-align: center;">
            Analyse du stock et des ventes du site<br>
            Bottleneck
        </div>
    </div>
</div>

<style>
@keyframes borderFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
</style>

# ðŸŽ¯ Objectif du projet â€” Bottleneck ðŸ·

Ce notebook a pour objectif de **centraliser, nettoyer et analyser les donnÃ©es de ventes et de stocks de lâ€™entreprise Bottleneck**, afin dâ€™en extraire des **insights pertinents pour le comitÃ© de direction (CODIR)**.

---

## ðŸ§© Contexte

Lâ€™entreprise Bottleneck utilise actuellement plusieurs sources de donnÃ©es indÃ©pendantes :
- Une **extraction de lâ€™ERP** (rÃ©fÃ©rences produits, prix, Ã©tat du stock),
- Une **extraction du site Web** (SKU, quantitÃ©s vendues, descriptions produits, etc.),
- Une **table de liaison** permettant de relier les rÃ©fÃ©rences entre les deux systÃ¨mes.

Cependant, des divergences existent entre ces fichiers (erreurs de saisie, types de donnÃ©es incohÃ©rents, rÃ©fÃ©rences non correspondantes), rendant les analyses complexes.

---

## ðŸ“ˆ Objectifs principaux

Le travail se dÃ©compose en deux phases :

### Phase 1 â€” AgrÃ©gation et fiabilisation des donnÃ©es
- Rapprocher les extractions **ERP** et **Web** via la table de liaison,  
- Identifier les **erreurs et incohÃ©rences** dans les donnÃ©es (saisie, calcul, jointure, etc.),  
- Proposer des **solutions dâ€™amÃ©lioration** pour fiabiliser les donnÃ©es en amont.

### Phase 2 â€” Analyses statistiques et interprÃ©tation
- Calcul du **chiffre dâ€™affaires total et par produit**,  
- DÃ©tection et visualisation des **valeurs aberrantes** (Z-Score, Ã©cart interquartile, boxplot),  
- Ã‰tude du **taux de marge**, de la **rotation des stocks** et des **mois de couverture**,  
- Analyse des **corrÃ©lations** entre les variables quantitatives : prix, prix dâ€™achat, stock, ventes, marge, etc.

---

## ðŸ§  FinalitÃ©

Les rÃ©sultats prÃ©sentÃ©s dans ce notebook serviront :
- Ã€ alimenter la **prise de dÃ©cision du CODIR**,  
- Ã€ prÃ©parer la **future refonte du systÃ¨me de data visualisation**,  
- Et Ã  dÃ©finir une **base de donnÃ©es conforme et cohÃ©rente**, respectant les exigences **RGPD**.

---

> ðŸ’¡ *Lâ€™ensemble de cette Ã©tude a Ã©tÃ© menÃ©e dans une optique de clartÃ©, de rigueur et de reproductibilitÃ©, afin dâ€™offrir Ã  Bottleneck une vision fiable de ses performances commerciales.*


<a id="top"></a>

<h2 style="color:RGB(51,165,182);">ðŸ“˜ Sommaire</h2>

<ul style="list-style:none; line-height:1.8; font-size:17px; padding-left:0;">
  <li>
    <a href="#etape1" style="color:RGB(51,165,182); text-decoration:none;">
      <img src="assets/img/house-solid-full.svg" width="15" style="vertical-align:middle; margin-right:6px; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
      Ã‰tape 1 - Importation des librairies et chargement des fichiers
    </a>
    <ul style="list-style:none; margin-left:20px;">
      <li><a href="#etape1_1" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“˜ 1.1 - Importation des librairies</a></li>
      <li><a href="#etape1_2" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“— 1.2 - Chargement des fichiers</a></li>
    </ul>
  </li>

  <li>
    <a href="#etape2" style="color:RGB(51,165,182); text-decoration:none;">
      <img src="assets/img/house-solid-full.svg" width="15" style="vertical-align:middle; margin-right:6px; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
      Ã‰tape 2 - Analyse exploratoire des fichiers
    </a>
    <ul style="list-style:none; margin-left:20px;">
      <li><a href="#etape1_2" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“Š 2.1 - Analyse exploratoire du fichier erp.xlsx</a></li>
      <li><a href="#etape1_1" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“Š 2.1.1 - Analyse exploratoire de chaque variable du fichier erp.xlsx</a></li>
      <ul style="margin-left:20px; list-style:none;">
        <li><a href="#etape2_1_1" style="color:RGB(51,165,182); text-decoration:none;">ðŸ”¹ 2.1.1.1 - Analyse de la variable PRIX</a></li>
        <li><a href="#etape2_1_1_2" style="color:RGB(51,165,182); text-decoration:none;">ðŸ”¹ 2.1.1.2 - Analyse de la variable STOCK</a></li>
        <li><a href="#etape2_1_1_3" style="color:RGB(51,165,182); text-decoration:none;">ðŸ”¹ 2.1.1.3 - Analyse de la variable ONSALE_WEB</a></li>
        <li><a href="#etape2_1_1_4" style="color:RGB(51,165,182); text-decoration:none;">ðŸ”¹ 2.1.1.4 - Analyse de la variable prix d'achat</a></li>
      </ul>
      <li><a href="#etape2_2" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“Š 2.2 - Analyse exploratoire du fichier web.xlsx</a></li>
      <li><a href="#etape2_3" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“Š 2.3 - Analyse exploratoire du fichier liaison.xlsx</a></li>
    </ul>
  </li>

  <li>
    <a href="#etape3" style="color:RGB(51,165,182); text-decoration:none;">
      <img src="assets/img/house-solid-full.svg" width="15" style="vertical-align:middle; margin-right:6px; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
      Ã‰tape 3 - Jonction des fichiers
    </a>
    <ul style="list-style:none; margin-left:20px;">
      <li><a href="#etape3_1" style="color:RGB(51,165,182); text-decoration:none;">ðŸ”¸ 3.1 - Jonction du fichier df_erp et df_liaison</a></li>
      <li><a href="#etape3_2" style="color:RGB(51,165,182); text-decoration:none;">ðŸ”¸ 3.2 - Jonction du fichier df_merge et df_web</a></li>
    </ul>
  </li>

  <li>
    <a href="#etape4" style="color:RGB(51,165,182); text-decoration:none;">
      <img src="assets/img/house-solid-full.svg" width="15" style="vertical-align:middle; margin-right:6px; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
      Ã‰tape 4 - Analyse univariÃ©e des prix
    </a>
    <ul style="list-style:none; margin-left:20px;">
      <li><a href="#etape4_1" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“ˆ 4.1 - Exploration par la visualisation de donnÃ©es</a></li>
      <li><a href="#etape4_2" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“‰ 4.2 - Exploration par l'utilisation de mÃ©thodes statistiques</a></li>
      <ul style="margin-left:20px; list-style:none;">
        <li><a href="#etape4_2_1" style="color:RGB(51,165,182); text-decoration:none;">ðŸ”¹ 4.2.1 - Identification par le Z-index</a></li>
        <li><a href="#etape4_2_2" style="color:RGB(51,165,182); text-decoration:none;">ðŸ”¹ 4.2.2 - Identification par l'intervalle interquartile</a></li>
      </ul>
    </ul>
  </li>

  <li>
    <a href="#etape5" style="color:RGB(51,165,182); text-decoration:none;">
      <img src="assets/img/house-solid-full.svg" width="15" style="vertical-align:middle; margin-right:6px; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
      Ã‰tape 5 - Analyse univariÃ©e du CA, des quantitÃ©s vendues, des stocks et de la marge ainsi qu'une analyse multivariÃ©e
    </a>
    <ul style="list-style:none; margin-left:20px;">
      <li><a href="#etape5_1" style="color:RGB(51,165,182); text-decoration:none;">ðŸ’° 5.1 - Analyse des ventes en CA</a></li>
      <li><a href="#etape5_2" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“¦ 5.2 - Analyse des ventes en quantitÃ©</a></li>
      <li><a href="#etape5_3" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“Š 5.3 - Analyse des stocks</a></li>
      <li><a href="#etape5_4" style="color:RGB(51,165,182); text-decoration:none;">ðŸ“ˆ 5.4 - Analyse du taux de marge</a></li>
      <li><a href="#etape5_5" style="color:RGB(51,165,182); text-decoration:none;">ðŸ”— 5.5 - CorrÃ©lations entre stock, sales et price</a></li>
      <li><a href="#etape5_6" style="color:RGB(51,165,182); text-decoration:none;">ðŸ§¾ 5.6 - Mise Ã  disposition du fichier Excel final</a></li>
    </ul>
  </li>
</ul>

<a id="etape1"></a>
<div style="
  border: 1px solid RGB(0,150,250);
  border-radius:5px;
  background-color:rgba(125, 194, 204, 0.15);
  margin:auto;
">

  <h2 style="
    margin:auto;
    padding:15px 20px;
    background-color:RGB(51,165,182);
    color:#fff;
    display:flex;
    align-items:center;
    border-radius:5px;
  ">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="30" style="vertical-align:middle;">
    </a>
    Ã‰tape 1 - Importation des librairies et chargement des fichiers
  </h2>
</div>

<a id="etape1_1"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    1.1 - Importation des librairies
  </h3>
</div>

In [2]:
#Importation de la librairie Pandas
from IPython.display import display, HTML
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module="openpyxl")

print("Tout est installÃ© et prÃªt ðŸŽ‰")

Tout est installÃ© et prÃªt ðŸŽ‰

In [3]:
#Importation de la librairie plotly express (attention peut bug)
import plotly.express as px

In [4]:
# Affichage de toutes les colonnes du dataframe
pd.set_option('display.max_columns', None)

<div style="background-color:#1e1e1e; color:#dcdcdc; padding:10px 15px; border-radius:8px; font-family:Consolas, monospace; border:1px solid #444; width:fit-content; margin:auto;">

<b>RÃ©ponse :</b><br>
<span style="color:#9CDCFE;">pd</span>.<span style="color:#DCDCAA;">set_option</span>(
<span style="color:#CE9178;">'display.max_columns'</span>, 
<span style="color:#569CD6;">None</span>)
<div style="color:#32CD32; font-weight:bold; font-family:Segoe UI, sans-serif; font-size:15px; text-align:center; margin-top:10px;">
âœ… Toutes les colonnes du DataFrame seront dÃ©sormais affichÃ©es.
</div>
</div>

<a id="etape1_2"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    1.2 - Chargements des fichiers
  </h3>
</div>

In [5]:
#Importation du fichier web.xlsx
df_web = pd.read_excel("data/web.xlsx")

#Importation du fichier erp.xlsx
df_erp = pd.read_excel("data/erp.xlsx")

#Importation du fichier liaison.xlsx
df_liaison = pd.read_excel("data/liaison.xlsx")

<div style="
  background:#4CAF50;
  color:black;
  padding:15px 40px;
  border-radius:10px;
  font-family:Segoe UI;
  font-size:16px;
  text-align:center;
  width:fit-content;
  margin:30px auto;
">
<b>RÃ©sultat :</b> ðŸ”¥ Importation terminÃ©e :<br>
 les fichiers <b>web.xlsx</b>, <b>erp.xlsx</b> et <b>liaison.xlsx</b> sont chargÃ©s avec succÃ¨s !
</div>

<a id="etape2"></a>
<div style="
  border: 1px solid RGB(0,150,250);
  border-radius:5px;
  background-color:rgba(125, 194, 204, 0.15);
  margin:auto;
">

  <h2 style="
    margin:auto;
    padding:15px 20px;
    background-color:RGB(51,165,182);
    color:#fff;
    display:flex;
    align-items:center;
    border-radius:5px;
  ">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="30" style="vertical-align:middle;">
    </a>
    Etape 2 - Analyse exploratoire des fichiers
  </h2>
</div>

<a id="etape1_2"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    2.1 - Analyse exploratoire du fichier erp.xlsx
  </h3>
</div>

In [6]:
#Afficher les dimensions du dataset
rows, cols = df_erp.shape
display(HTML(f"""
<p style='font-family: Segoe UI, Arial; font-size:18px; color:#e0e0e0;'>
Le tableau comporte <span style='color:#ffcc00; font-weight:bold;'>{rows:,}</span> observation(s) ou article(s)<br>
Le tableau comporte <span style='color:#ffcc00; font-weight:bold;'>{cols}</span> colonne(s)
</p>
"""))

In [7]:
#Consulter le nombre de colonnes
print("Nombre de colonnes :", df_erp.shape[1])

#La nature des donnÃ©es dans chacune des colonnes
print("\n\033[96mTypes de donnÃ©es :\033[0m")
print(df_erp.dtypes)

#Le nombre de valeurs prÃ©sentes dans chacune des colonnes
print("\n\033[96mValeurs non nulles par colonne :\033[0m")
print(df_erp.count())

Nombre de colonnes : 6

Types de donnÃ©es :
product_id          int64
onsale_web          int64
price             float64
stock_quantity      int64
stock_status       object
purchase_price    float64
dtype: object

Valeurs non nulles par colonne :
product_id        825
onsale_web        825
price             825
stock_quantity    825
stock_status      825
purchase_price    825
dtype: int64

In [8]:
#Afficher les 5 premiÃ¨res lignes de la table
df_erp.head()

   product_id  onsale_web  price  stock_quantity stock_status  purchase_price
0        3847           1   24.2              16      instock           12.88
1        3849           1   34.3              10      instock           17.54
2        3850           1   20.8               0   outofstock           10.64
3        4032           1   14.1              26      instock            6.92
4        4039           1   46.0               3   outofstock           23.77

In [9]:
#VÃ©rifier si il y a des lignes en doublon dans la colonne product_id
df_erp["product_id"].duplicated().sum()

np.int64(0)

In [10]:
#Afficher les valeurs distinctes de la colonne stock_status
print("\033[96mValeurs distinctes de stock_status :\033[0m", df_erp["stock_status"].unique())

# FrÃ©quence d'apparition
print("\n\033[96mFrÃ©quence de chaque valeur :\033[0m")
print(df_erp["stock_status"].value_counts())

# Relation entre stock_status et stock_quantity
print("\n\033[96mCorrÃ©lation entre 'stock_status' et 'stock_quantity' :\033[0m")
pd.crosstab(df_erp["stock_status"], df_erp["stock_quantity"])

Valeurs distinctes de stock_status : ['instock' 'outofstock']

FrÃ©quence de chaque valeur :
stock_status
instock       733
outofstock     92
Name: count, dtype: int64

CorrÃ©lation entre 'stock_status' et 'stock_quantity' :

stock_quantity,-10,-1,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,58,62,68,71,73,74,76,79,81,86,91,97,98,100,101,103,112,115,121,123,125,127,136,138,142,145
stock_status,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
instock,0,0,1,12,6,17,21,27,21,32,21,17,19,14,29,10,18,19,21,13,16,14,10,14,13,30,21,12,18,16,20,22,19,15,20,9,11,13,8,4,11,7,7,4,11,6,3,6,1,2,4,2,1,6,1,1,2,1,1,2,1,1,1,1,1,1,2,1,1,1,1,2,2,1,1,1,1,2,3,1,1,1,1,2
outofstock,1,1,89,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
# CrÃ©ation d'une colonne "stock_status_2"
# La valeur de cette deuxiÃ¨me colonne sera fonction de la valeur dans la colonne "stock_quantity"
# Si la valeur de la colonne "stock_quantity" est nulle, renseigner "outofstock" sinon mettre "instock"
# CrÃ©ation de la colonne "stock_status_2"
df_erp["stock_status_2"] = df_erp["stock_quantity"].apply(
    lambda x: "outofstock" if pd.isna(x) or x == 0 else "instock"
)

# VÃ©rification sur quelques lignes
df_erp[["stock_quantity", "stock_status_2"]].head(10)
pd.crosstab(df_erp["stock_status_2"], df_erp["stock_quantity"])

stock_quantity,-10,-1,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,58,62,68,71,73,74,76,79,81,86,91,97,98,100,101,103,112,115,121,123,125,127,136,138,142,145
stock_status_2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
instock,1,1,0,12,6,18,21,27,21,32,21,17,19,14,29,10,18,19,21,13,16,14,10,14,13,30,21,12,18,16,20,22,19,15,20,9,11,13,8,4,11,7,7,4,11,6,3,6,1,2,4,2,1,6,1,1,2,1,1,2,1,1,1,1,1,1,2,1,1,1,1,2,2,1,1,1,1,2,3,1,1,1,1,2
outofstock,0,0,90,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [12]:
# VÃ©rifions que les 2 colonnes sont identiques:
# Les 2 colonnes sont strictement identiques si les valeurs de chaque ligne sont strictement identiques 2 Ã  2
# La comparaison de 2 colonnes peut se rÃ©aliser simplement avec l'instruction ci-dessous:
df_erp["stock_status"] == df_erp["stock_status_2"]

# Le rÃ©sultat est l'affichage de True ou False pour chacune des lignes du dataset
# C'est un bon dÃ©but, mais difficile Ã  explo2iter
df_erp[df_erp["stock_status"] != df_erp["stock_status_2"]]

,product_id,onsale_web,price,stock_quantity,stock_status,purchase_price,stock_status_2
4,4039,1,46.0,3,outofstock,23.77,instock
398,4885,1,18.7,0,instock,9.66,outofstock
449,4973,0,10.0,-10,outofstock,4.96,instock
573,5700,1,44.5,-1,outofstock,22.30,instock

In [13]:
# Calcul de la somme des valeurs True (1) et False (0)
somme_identiques = (df_erp["stock_status"] == df_erp["stock_status_2"]).sum()

# Affichons le rÃ©sultat
print(f"Nombre de lignes identiques : {somme_identiques}")
print(f"Nombre total de lignes : {len(df_erp)}")

# VÃ©rifions si les deux colonnes sont strictement identiques
if somme_identiques == len(df_erp):
    print("âœ… Les deux colonnes sont strictement identiques.")
else:
    print(f"âš ï¸ Il y a {len(df_erp) - somme_identiques} diffÃ©rence(s) entre les deux colonnes.")

Nombre de lignes identiques : 821
Nombre total de lignes : 825
âš ï¸ Il y a 4 diffÃ©rence(s) entre les deux colonnes.

<div style="
    background: linear-gradient(90deg, #ff7a00, #ff9500);
    color:black;
    padding:15px 40px;
    border-radius:10px;
    font-family:'Segoe UI', Arial, sans-serif;
    font-size:16px;
    text-align:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.3);
    width:fit-content;
    margin:30px auto;
">
<b>RÃ©sultat :</b> 821/825 lignes identiques.<br>
âš ï¸ 4 diffÃ©rences dÃ©tectÃ©es.
</div>

In [14]:
# Identifier les lignes oÃ¹ les valeurs diffÃ¨rent
differences = df_erp[df_erp["stock_status"] != df_erp["stock_status_2"]]

# Afficher les lignes en Ã©cart
display(differences)

,product_id,onsale_web,price,stock_quantity,stock_status,purchase_price,stock_status_2
4,4039,1,46.0,3,outofstock,23.77,instock
398,4885,1,18.7,0,instock,9.66,outofstock
449,4973,0,10.0,-10,outofstock,4.96,instock
573,5700,1,44.5,-1,outofstock,22.30,instock

In [15]:
# Correction des incohÃ©rences entre stock_status, stock_status_2 et stock_quantity

# Logique de cohÃ©rence :
df_erp.loc[df_erp["stock_quantity"] > 0, ["stock_status", "stock_status_2"]] = "instock"
df_erp.loc[df_erp["stock_quantity"] <= 0, ["stock_status", "stock_status_2"]] = "outofstock"

# VÃ©rification aprÃ¨s correction
somme_identiques = (df_erp["stock_status"] == df_erp["stock_status_2"]).sum()
total_lignes = len(df_erp)
ecarts = total_lignes - somme_identiques

print(f"âœ… Nombre de lignes identiques : {somme_identiques}")
print(f"ðŸ“„ Nombre total de lignes : {total_lignes}")
if ecarts == 0:
    print("ðŸŸ© Les deux colonnes sont dÃ©sormais cohÃ©rentes avec le stock.")
else:
    print(f"âš ï¸ {ecarts} diffÃ©rence(s) restante(s).")

âœ… Nombre de lignes identiques : 825
ðŸ“„ Nombre total de lignes : 825
ðŸŸ© Les deux colonnes sont dÃ©sormais cohÃ©rentes avec le stock.

<div style="background:#4CAF50; color:black; padding:15px 40px; border-radius:10px;
font-family:Segoe UI; font-size:16px; text-align:center; width:fit-content; margin:30px auto;">
<b>RÃ©sultat :</b> 825/825 lignes identiques.<br>
âœ… Les deux colonnes sont dÃ©sormais cohÃ©rentes.
</div>

<a id="etape1_1"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    2.1.1 - Analyse exploratoire de chaque variable du fichier erp.xlsx
  </h3>
</div>

In [16]:
# Analyse exploratoire de chaque variable du fichier erp.xlsx

# Afficher les types de chaque colonne
print("ðŸ“Š Types des variables :")
print(df_erp.dtypes)

# VÃ©rifier les valeurs manquantes
print("\nâ“ Valeurs manquantes :")
print(df_erp.isna().sum())

# Afficher le nombre de valeurs uniques par colonne
print("\nðŸ”¢ Nombre de valeurs uniques :")
print(df_erp.nunique())

# Afficher un rÃ©sumÃ© statistique pour les variables numÃ©riques
print("\nðŸ“ˆ RÃ©sumÃ© statistique des variables numÃ©riques :")
display(df_erp.describe())

ðŸ“Š Types des variables :
product_id          int64
onsale_web          int64
price             float64
stock_quantity      int64
stock_status       object
purchase_price    float64
stock_status_2     object
dtype: object

â“ Valeurs manquantes :
product_id        0
onsale_web        0
price             0
stock_quantity    0
stock_status      0
purchase_price    0
stock_status_2    0
dtype: int64

ðŸ”¢ Nombre de valeurs uniques :
product_id        825
onsale_web          2
price             383
stock_quantity     84
stock_status        2
purchase_price    660
stock_status_2      2
dtype: int64

ðŸ“ˆ RÃ©sumÃ© statistique des variables numÃ©riques :

        product_id  onsale_web       price  stock_quantity  purchase_price
count   825.000000  825.000000  825.000000      825.000000      825.000000
mean   5162.597576    0.867879   32.187697       21.589091       16.940582
std     902.644635    0.338828   26.712077       21.933807       14.561840
min    3847.000000    0.000000  -20.000000      -10.000000        2.740000
25%    4348.000000    1.000000   14.500000        7.000000        7.590000
50%    4907.000000    1.000000   24.300000       18.000000       12.710000
75%    5805.000000    1.000000   42.000000       30.000000       22.020000
max    7338.000000    1.000000  225.000000      145.000000      137.810000

<!-- ðŸ” Analyse exploratoire du fichier erp.xlsx -->
<div style="font-family:Segoe UI, Arial; font-size:18px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #444;
width:fit-content; margin:30px auto; text-align:left; box-shadow:0 0 15px #00000055;">
<p>ðŸ” <b>Analyse exploratoire du fichier <span style='color:#ffcc00;'>erp.xlsx</span></b></p>
<p>Le tableau comporte <span style='color:#ffcc00;font-weight:bold;'>825</span> observations
et <span style='color:#ffcc00;font-weight:bold;'>6</span> colonnes.</p>
<p>ðŸ“¦ Total de valeurs uniques (toutes colonnes confondues) :
<span style='color:#ffcc00;font-weight:bold;'>783</span></p>
<p>â— Valeurs manquantes dÃ©tectÃ©es :
<span style='color:lime;font-weight:bold;'>0</span></p>
</div>

<a id="etape2_1_1"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    2.1.1.1 - Analyse de la variable PRIX
  </h3>
</div>

In [17]:
###############
## LES PRIX  ##
###############

# VÃ©rification des prix: Y a-t-il des prix non renseignÃ©s, nÃ©gatifs ou nuls ?

# Afficher le ou les prix non renseignÃ©s dans la colonne "price"
print("Nombres d'articles avec un prix non renseignÃ©: {}".format(df_erp["price"].isna().sum()))

# Afficher le prix minimum de la colonne "price"
print("Prix minimum :", df_erp["price"].min())

# Afficher le prix maximum de la colonne "price"
print("Prix maximum :", df_erp["price"].max())

# Afficher les prix infÃ©rieurs Ã  0 (qu'est-ce qu'il faut en faire ?)
print("Prix infÃ©rieurs Ã  0 :", df_erp[df_erp["price"] < 0])

Nombres d'articles avec un prix non renseignÃ©: 0
Prix minimum : -20.0
Prix maximum : 225.0
Prix infÃ©rieurs Ã  0 :      product_id  onsale_web  price  stock_quantity stock_status  \
151        4233           0  -20.0               0   outofstock
469        5017           0   -8.0               0   outofstock
739        6594           0   -9.1              19      instock

     purchase_price stock_status_2
151           10.33     outofstock
469            4.34     outofstock
739            4.61        instock

<div style="font-family:Segoe UI, Arial; font-size:17px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #444;
width:fit-content; margin:30px auto; text-align:left; box-shadow:0 0 15px #00000055;">
<p>ðŸ’° <b>Analyse de la variable <span style='color:#ffcc00;'>price</span></b></p>
<p>ðŸ“Š Aucun prix manquant dÃ©tectÃ© : <span style='color:lime; font-weight:bold;'>0</span></p>
<p>ðŸ”½ <b>Prix minimum :</b> <span style='color:#ff6a00;'>-20.0</span><br>
ðŸ”¼ <b>Prix maximum :</b> <span style='color:#ffcc00;'>225.0</span></p>
<p>âš ï¸ <b>Produits avec un prix nÃ©gatif :</b> <span style='color:#ff8080; font-weight:bold;'>3</span><br>
<small>(Les valeurs nÃ©gatives devront Ãªtre corrigÃ©es ou remplacÃ©es par 0.)</small></p>
</div>

In [18]:
# Correction des incohÃ©rences dÃ©tectÃ©es dans la variable "price"

# Remplacer les NaN (au cas oÃ¹ certains apparaÃ®traient encore)
df_erp["price"] = df_erp["price"].fillna(0)

# Corriger les prix nÃ©gatifs
prix_negatifs = (df_erp["price"] < 0).sum()
df_erp.loc[df_erp["price"] < 0, "price"] = 0

# VÃ©rifier aprÃ¨s correction
prix_min = df_erp["price"].min()
prix_max = df_erp["price"].max()
prix_manquants = df_erp["price"].isna().sum()

print(f"âœ… Prix corrigÃ©s avec succÃ¨s.\nPrix min : {prix_min}\nPrix max : {prix_max}\nPrix manquants : {prix_manquants}")

âœ… Prix corrigÃ©s avec succÃ¨s.
Prix min : 0.0
Prix max : 225.0
Prix manquants : 0

<div style="background:#4CAF50; color:black; padding:15px 40px; border-radius:10px;
font-family:Segoe UI; font-size:16px; text-align:center; width:fit-content; margin:30px auto;">
<b>RÃ©sultat :</b><br>
âœ… Toutes les incohÃ©rences sur la variable <b>price</b> ont Ã©tÃ© corrigÃ©es.<br>
Les valeurs manquantes ont Ã©tÃ© remplacÃ©es et les prix nÃ©gatifs ajustÃ©s Ã  <b>0</b>.<br>
ðŸ“Š Les donnÃ©es sont dÃ©sormais prÃªtes pour lâ€™analyse.
</div>

<a id="etape2_1_1_2"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    2.1.1.2 - Analyse de la variable STOCK
  </h3>
</div>

In [19]:
#####################
### stock_quantity ###
#####################

# VÃ©rification de la colonne stock_quantity
# Afficher la quantitÃ© minimum de la colonne "stock_quantity"
print("QuantitÃ© minimum :", df_erp["stock_quantity"].min())

# Afficher la quantitÃ© maximum de la colonne "stock_quantity"
print("QuantitÃ© maximum :", df_erp["stock_quantity"].max())

# Afficher les stocks infÃ©rieurs Ã  0 (qu'est-ce qu'il faut en faire ?)
stocks_negatifs = df_erp[df_erp["stock_quantity"] < 0]
print("Stocks infÃ©rieurs Ã  0 :")
display(stocks_negatifs)

QuantitÃ© minimum : -10
QuantitÃ© maximum : 145
Stocks infÃ©rieurs Ã  0 :

,product_id,onsale_web,price,stock_quantity,stock_status,purchase_price,stock_status_2
449,4973,0,10.0,-10,outofstock,4.96,outofstock
573,5700,1,44.5,-1,outofstock,22.30,outofstock

<div style="font-family:Segoe UI, Arial; font-size:17px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #444;
width:fit-content; margin:30px auto; text-align:left; box-shadow:0 0 15px #00000055;">
<p>ðŸ“¦ <b>Analyse de la variable <span style='color:#ffcc00;'>stock_quantity</span></b></p>
<p>ðŸ”½ <b>QuantitÃ© minimum :</b> <span style='color:#ff6a00;'>-10</span><br>
ðŸ”¼ <b>QuantitÃ© maximum :</b> <span style='color:#ffcc00;'>145</span></p>
<p>âš ï¸ <b>Produits avec un stock nÃ©gatif :</b> <span style='color:#ff8080; font-weight:bold;'>2</span><br>
<small>(Les valeurs nÃ©gatives indiquent une erreur de saisie et doivent Ãªtre corrigÃ©es.)</small></p>
</div>

In [20]:
# Correction des incohÃ©rences dans la variable "stock_quantity"

# Identifier combien de valeurs nÃ©gatives il y avait
stocks_negatifs = (df_erp["stock_quantity"] < 0).sum()
print(f"âš ï¸ Nombre de produits avec stock nÃ©gatif avant correction : {stocks_negatifs}")

# Corriger les valeurs nÃ©gatives en les remplaÃ§ant par 0
df_erp.loc[df_erp["stock_quantity"] < 0, "stock_quantity"] = 0

# VÃ©rifier aprÃ¨s correction
stock_min = df_erp["stock_quantity"].min()
stock_max = df_erp["stock_quantity"].max()
stocks_negatifs_apres = (df_erp["stock_quantity"] < 0).sum()

print("\nâœ… Correction effectuÃ©e avec succÃ¨s.")
print(f"QuantitÃ© minimale aprÃ¨s correction : {stock_min}")
print(f"QuantitÃ© maximale : {stock_max}")
print(f"Stocks nÃ©gatifs restants : {stocks_negatifs_apres}")

âš ï¸ Nombre de produits avec stock nÃ©gatif avant correction : 2

âœ… Correction effectuÃ©e avec succÃ¨s.
QuantitÃ© minimale aprÃ¨s correction : 0
QuantitÃ© maximale : 145
Stocks nÃ©gatifs restants : 0

<div style="background:#4CAF50; color:black; padding:15px 40px; border-radius:10px;
font-family:Segoe UI; font-size:16px; text-align:center; width:fit-content; margin:30px auto;">
<b>RÃ©sultat :</b><br>
âœ… Toutes les valeurs nÃ©gatives de <b>stock_quantity</b> ont Ã©tÃ© remplacÃ©es par <b>0</b>.<br>
ðŸ“¦ Les stocks sont dÃ©sormais cohÃ©rents et prÃªts pour les opÃ©rations de fusion ou dâ€™analyse.
</div>

<a id="etape2_1_1_3"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    2.1.1.3 - Analyse de la variable ONSALE_WEB
  </h3>
</div>

In [21]:
#VÃ©rification de la colonne onsale_web et des valeurs qu'elle contient. Que signifient-elles?
print("Valeurs uniques de la colonne 'onsale_web' :", df_erp["onsale_web"].unique())
print("\nFrÃ©quence de chaque valeur :\n", df_erp["onsale_web"].value_counts())

# InterprÃ©tation :
# 0 signifie que le produit n'est pas en vente sur le site web
# 1 signifie que le produit est en vente en ligne

Valeurs uniques de la colonne 'onsale_web' : [1 0]

FrÃ©quence de chaque valeur :
 onsale_web
1    716
0    109
Name: count, dtype: int64

In [22]:
#Quelles sont les colonnes Ã  conserver selon vous?
# Colonnes pertinentes Ã  conserver pour lâ€™analyse
colonnes_a_conserver = ["product_id", "onsale_web", "price", "purchase_price", "stock_quantity", "stock_status", "stock_status_2"]
df_erp = df_erp[colonnes_a_conserver]

print("Colonnes conservÃ©es :", list(df_erp.columns))

Colonnes conservÃ©es : ['product_id', 'onsale_web', 'price', 'purchase_price', 'stock_quantity', 'stock_status', 'stock_status_2']

In [23]:
#Supprimer la colonne comportant le libellÃ© "stock_status_2" car elle est redondante 
#avec la colonne "stock_status".
# Suppression de la colonne redondante
df_erp = df_erp.drop(columns=["stock_status"], errors="ignore")

# On renomme la colonne corrigÃ©e
df_erp = df_erp.rename(columns={"stock_status_2": "stock_status"})

print("âœ… Colonne 'stock_status' mise Ã  jour Ã  partir de 'stock_status_2'.")
print("Colonnes finales :", list(df_erp.columns))

âœ… Colonne 'stock_status' mise Ã  jour Ã  partir de 'stock_status_2'.
Colonnes finales : ['product_id', 'onsale_web', 'price', 'purchase_price', 'stock_quantity', 'stock_status']

<div style="font-family:Segoe UI, Arial; font-size:17px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #444;
width:fit-content; margin:30px auto; text-align:left; box-shadow:0 0 15px #00000055;">
<p>ðŸŒ <b>Analyse de la variable <span style='color:#ffcc00;'>onsale_web</span></b></p>

<p>Cette variable indique si le produit est disponible Ã  la vente sur le site web :<br>
<span style='color:#ffcc00;'><b>1</b></span> âžœ En ligne<br>
<span style='color:#ffcc00;'><b>0</b></span> âžœ Non disponible</p>

<p>ðŸ“Š La majoritÃ© des produits sont disponibles en ligne (716 contre 109 hors ligne).</p>

<p>âœ… Colonnes conservÃ©es : product_id, onsale_web, price, purchase_price, stock_quantity, stock_status<br>
ðŸ§© La colonne <span style='color:#ffcc00;'><b>stock_status_2</b></span> a Ã©tÃ© conservÃ©e et renommÃ©e en <b>stock_status</b> aprÃ¨s vÃ©rification de la cohÃ©rence des donnÃ©es.</p>
</div>

<a id="etape2_1_1_4"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    2.1.1.4 - Analyse de la variable prix d'achat
  </h3>
</div>

In [24]:
######################
##   prix d'achat   ##
######################
# VÃ©rification de la colonne purchase_price
print("Nombres d'articles avec un prix d'achat non renseignÃ© :", df_erp["purchase_price"].isna().sum())

# Afficher le prix minimum de la colonne "purchase_price"
print("Prix d'achat minimum :", df_erp["purchase_price"].min())

# Afficher le prix maximum de la colonne "purchase_price"
print("Prix d'achat maximum :", df_erp["purchase_price"].max())

Nombres d'articles avec un prix d'achat non renseignÃ© : 0
Prix d'achat minimum : 2.74
Prix d'achat maximum : 137.81

<div style="font-family:Segoe UI, Arial; font-size:17px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #ebdb07ff;
width:fit-content; margin:30px auto; text-align:left; box-shadow:0 0 15px #00000055;">
<p>ðŸ’° <b>Analyse de la variable <span style='color:#ffcc00;'>purchase_price</span></b></p>
<p>ðŸ§¾ Nombre dâ€™articles avec un prix dâ€™achat non renseignÃ© : 
<span style='color:lime; font-weight:bold;'>0</span></p>
<p>ðŸ“‰ Prix dâ€™achat minimum : 
<span style='color:#ff6a00; font-weight:bold;'>2.74</span><br>
ðŸ“ˆ Prix dâ€™achat maximum : 
<span style='color:#ffcc00; font-weight:bold;'>137.81</span></p>
</div>

<a id="etape2_2"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    2.2 - Analyse exploratoire du fichier web.xlsx
  </h3>
</div>

In [25]:
#Dimension du dataset
#Nombre d'observations
#Nombre de caractÃ©ristiquess
df_web = pd.read_excel("data/web.xlsx")

rows, cols = df_web.shape

display(HTML(f"""
<div style="font-family:Segoe UI, Arial; font-size:18px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #444;
width:fit-content; margin:30px auto; text-align:left;">

<p>ðŸŒ <b>Analyse exploratoire du fichier <span style='color:#ffcc00;'>web.xlsx</span></b></p>

<p>Le tableau comporte <span style='color:#ffcc00;font-weight:bold;'>{rows}</span> observations
et <span style='color:#ffcc00;font-weight:bold;'>{cols}</span> colonnes.</p>

</div>
"""))

In [26]:
#Consulter le nombre de colonnes
#La nature des donnÃ©es dans chacune des colonnes
#Le nombre de valeurs prÃ©sentes dans chacune des colonnes

print("ðŸ”¹ Types des variables :")
display(df_web.dtypes)

print("\nðŸ”¹ Valeurs manquantes :")
display(df_web.isna().sum())

print("\nðŸ”¹ Nombre de valeurs uniques :")
display(df_web.nunique())

ðŸ”¹ Types des variables :

sku                              object
virtual                           int64
downloadable                      int64
rating_count                      int64
average_rating                  float64
total_sales                     float64
tax_status                       object
tax_class                       float64
post_author                     float64
post_date                datetime64[ns]
post_date_gmt            datetime64[ns]
post_content                    float64
product_type                     object
post_title                       object
post_excerpt                     object
post_status                      object
comment_status                   object
ping_status                      object
post_password                   float64
post_name                        object
post_modified            datetime64[ns]
post_modified_gmt        datetime64[ns]
post_content_filtered           float64
post_parent                     float64
guid                             object
menu_order                      float64
post_type                        object
post_mime_type                   object
comment_count                   float64
dtype: object

ðŸ”¹ Valeurs manquantes :

sku                        85
virtual                     0
downloadable                0
rating_count                0
average_rating             83
total_sales                83
tax_status                797
tax_class                1513
post_author                83
post_date                  83
post_date_gmt              83
post_content             1513
product_type               84
post_title                 83
post_excerpt              797
post_status                83
comment_status             83
ping_status                83
post_password            1513
post_name                  83
post_modified              83
post_modified_gmt          83
post_content_filtered    1513
post_parent                83
guid                       83
menu_order                 83
post_type                  83
post_mime_type            799
comment_count              83
dtype: int64

ðŸ”¹ Nombre de valeurs uniques :

sku                       714
virtual                     1
downloadable                1
rating_count                1
average_rating              1
total_sales                29
tax_status                  1
tax_class                   0
post_author                 2
post_date                 716
post_date_gmt             716
post_content                0
product_type                7
post_title                713
post_excerpt              679
post_status                 1
comment_status              1
ping_status                 1
post_password               0
post_name                 716
post_modified             589
post_modified_gmt         589
post_content_filtered       0
post_parent                 1
guid                     1430
menu_order                  1
post_type                   2
post_mime_type              1
comment_count               1
dtype: int64

In [27]:
#Selon vous, quelles sont les colonnes Ã  conserver ?
# Colonnes pertinentes Ã  conserver
colonnes_a_conserver = [
    "sku",              # identifiant unique du produit
    "post_title",       # nom ou titre du produit
    "post_content",     # description du produit
    "price",            # (si elle existe plus bas, on vÃ©rifiera)
    "total_sales",      # nombre de ventes
    "average_rating",   # note moyenne
    "rating_count",     # nombre dâ€™avis
    "post_status",      # statut du produit (publish, draftâ€¦)
    "tax_class",        # classe de taxe
    "product_type"      # type de produit (simple, variableâ€¦)
]
# SÃ©lection des colonnes prÃ©sentes (certaines peuvent ne pas exister)
colonnes_existantes = [col for col in colonnes_a_conserver if col in df_web.columns]
df_web = df_web[colonnes_existantes]

print("âœ… Colonnes conservÃ©es :", list(df_web.columns))

âœ… Colonnes conservÃ©es : ['sku', 'post_title', 'post_content', 'total_sales', 'average_rating', 'rating_count', 'post_status', 'tax_class', 'product_type']

In [28]:
#Si vous avez dÃ©fini des colonnes Ã  supprimer, effectuer l'opÃ©ration
colonnes_a_supprimer = [col for col in df_web.columns if col not in colonnes_a_conserver]
df_web = df_web.drop(columns=colonnes_a_supprimer, errors="ignore")

print("ðŸ§¹ Colonnes restantes aprÃ¨s nettoyage :", list(df_web.columns))

ðŸ§¹ Colonnes restantes aprÃ¨s nettoyage : ['sku', 'post_title', 'post_content', 'total_sales', 'average_rating', 'rating_count', 'post_status', 'tax_class', 'product_type']

In [29]:
#Visualiser les premiers SKU
print("ðŸ”¹ Exemples de valeurs SKU :")
display(df_web["sku"].head(10))

# Identifier les SKU vides, NaN ou non conformes
erreurs_sku = df_web[
    df_web["sku"].isna() |  # valeurs manquantes
    (df_web["sku"].astype(str).str.strip() == "") |  # vides
    (~df_web["sku"].astype(str).str.match(r'^[A-Za-z0-9_-]+$', na=False))  # non conformes
]

# Affichage du rÃ©sultat
nb_erreurs = len(erreurs_sku)
print(f"âš ï¸ {nb_erreurs} valeur(s) ne respectent pas la rÃ¨gle de codification.\n")

if nb_erreurs > 0:
    display(erreurs_sku[["sku", "post_title", "post_status"]])
else:
    print("âœ… Tous les codes SKU respectent la rÃ¨gle de codification.")

ðŸ”¹ Exemples de valeurs SKU :

0    11862
1    16057
2    14692
3    16295
4    15328
5    15471
6    16515
7    16246
8      NaN
9    13572
Name: sku, dtype: object

âš ï¸ 85 valeur(s) ne respectent pas la rÃ¨gle de codification.

      sku post_title post_status
8     NaN        NaN         NaN
20    NaN        NaN         NaN
30    NaN        NaN         NaN
37    NaN        NaN         NaN
41    NaN        NaN         NaN
...   ...        ...         ...
1384  NaN        NaN         NaN
1429  NaN        NaN         NaN
1432  NaN        NaN         NaN
1445  NaN        NaN         NaN
1457  NaN        NaN         NaN

[85 rows x 3 columns]

In [30]:
#Si vous avez identifiÃ© des codes articles ne respectant pas la rÃ©gle de codification, consultez-les
# On considÃ¨re qu'un SKU valide contient uniquement des lettres, chiffres, tirets ou underscores
# Identifier les SKU invalides : NaN, vides ou contenant des caractÃ¨res non conformes
erreurs_sku = df_web[
    df_web["sku"].isna() | 
    (df_web["sku"].astype(str).str.strip() == "") | 
    (~df_web["sku"].astype(str).str.match(r'^[A-Za-z0-9_-]+$', na=False))
]

if not erreurs_sku.empty:
    print(f"âš ï¸ {len(erreurs_sku)} article(s) prÃ©sentent un code SKU incorrect ou manquant :")
    display(erreurs_sku[["sku", "post_title", "post_status"]])
else:
    print("âœ… Tous les codes SKU respectent la rÃ¨gle de codification.")

âš ï¸ 85 article(s) prÃ©sentent un code SKU incorrect ou manquant :

      sku post_title post_status
8     NaN        NaN         NaN
20    NaN        NaN         NaN
30    NaN        NaN         NaN
37    NaN        NaN         NaN
41    NaN        NaN         NaN
...   ...        ...         ...
1384  NaN        NaN         NaN
1429  NaN        NaN         NaN
1432  NaN        NaN         NaN
1445  NaN        NaN         NaN
1457  NaN        NaN         NaN

[85 rows x 3 columns]

<div style="background:#FFA726; color:black; padding:15px 40px; border-radius:10px;
font-family:Segoe UI; font-size:16px; text-align:center; width:fit-content; margin:30px auto;">
<b>RÃ©sultat :</b><br>
ðŸš¨ <b>85 produits</b> n'ont pas de code SKU valide ou renseignÃ©.<br>
ðŸ§© Ils ont Ã©tÃ© exclus du jeu de donnÃ©es pour garantir la cohÃ©rence de l'analyse.
</div>

In [31]:
# Identifier les lignes sans code article
articles_sans_sku = df_web[df_web["sku"].isna() | (df_web["sku"].astype(str).str.strip() == "")]
print(f"ðŸš¨ Nombre de produits sans code article : {len(articles_sans_sku)}")

if not articles_sans_sku.empty:
    display(articles_sans_sku[["post_title", "product_type", "post_status"]])
else:
    print("âœ… Tous les articles ont un code SKU renseignÃ©.")

ðŸš¨ Nombre de produits sans code article : 85

     post_title product_type post_status
8           NaN          NaN         NaN
20          NaN          NaN         NaN
30          NaN          NaN         NaN
37          NaN          NaN         NaN
41          NaN          NaN         NaN
...         ...          ...         ...
1384        NaN          NaN         NaN
1429        NaN          NaN         NaN
1432        NaN          NaN         NaN
1445        NaN          NaN         NaN
1457        NaN          NaN         NaN

[85 rows x 3 columns]

In [32]:
# Exclure les produits sans SKU ou invalides
df_web_clean = df_web.copy()

# Identifier les lignes Ã  garder (celles qui ont un SKU non nul et non vide)
df_web_clean = df_web[~(df_web["sku"].isna() | (df_web["sku"].astype(str).str.strip() == ""))]

# VÃ©rification et affichage des rÃ©sultats
produits_exclus = len(df_web) - len(df_web_clean)
print(f"âš ï¸ {produits_exclus} produits sans SKU ont Ã©tÃ© exclus.")
print(f"ðŸ“Š Nouveau total de produits conservÃ©s : {len(df_web_clean)}")
print(f"ðŸ”¹ Nombre de SKU uniques restants : {df_web_clean['sku'].nunique()}")

âš ï¸ 85 produits sans SKU ont Ã©tÃ© exclus.
ðŸ“Š Nouveau total de produits conservÃ©s : 1428
ðŸ”¹ Nombre de SKU uniques restants : 714

<div style="background:#FFA726; color:black; padding:15px 40px; border-radius:10px;
font-family:Segoe UI; font-size:16px; text-align:center; width:fit-content; margin:30px auto;">
<b>RÃ©sultat :</b><br>
ðŸ” <b>1428 lignes</b> correspondent Ã  <b>714 SKU uniques</b>.<br>
ðŸ’¡ Chaque produit apparaÃ®t deux fois (duplicata exact).<br>
ðŸ§¹ Prochaine Ã©tape : <b>supprimer les doublons</b> ou <b>regrouper les donnÃ©es</b> par SKU pour lâ€™analyse.
</div>

In [33]:
#La clÃ© pour chaque ligne est-elle unique? autrement dit, y a-t-il des doublons?
# S'assurer que tous les SKU sont des chaÃ®nes de caractÃ¨res (pour Ã©viter l'erreur de tri)
df_web_clean.loc[:, "sku"] = df_web_clean["sku"].astype(str).str.strip()

# DÃ©tection des SKU apparaissant plus d'une fois (vrais doublons)
doublons_sku = (
    df_web_clean[df_web_clean["sku"].isin(df_web_clean["sku"].value_counts()[df_web_clean["sku"].value_counts() > 1].index)]
    .sort_values(by="sku")
)

# Comptage
nb_sku_doublons = doublons_sku["sku"].nunique()
nb_lignes_doublons = len(doublons_sku)
nb_total = len(df_web_clean)

# Affichage des rÃ©sultats
print(f"âš ï¸ {nb_sku_doublons} SKU prÃ©sentent des doublons (pour un total de {nb_lignes_doublons} lignes).")
print(f"ðŸ”¹ Nombre total de lignes dans df_web_clean : {nb_total}")

# AperÃ§u des doublons regroupÃ©s (SKU identiques ensemble)
display(doublons_sku[["sku", "post_title", "total_sales", "average_rating", "post_status"]])

âš ï¸ 714 SKU prÃ©sentent des doublons (pour un total de 1428 lignes).
ðŸ”¹ Nombre total de lignes dans df_web_clean : 1428

,sku,post_title,total_sales,average_rating,post_status
668,10014,Darnley's London Dry Gin Original,10.0,0.0,publish
1030,10014,Darnley's London Dry Gin Original,10.0,0.0,publish
887,10459,Alphonse Mellot Sancerre Rouge GÃ©nÃ©ration XIX ...,4.0,0.0,publish
748,10459,Alphonse Mellot Sancerre Rouge GÃ©nÃ©ration XIX ...,4.0,0.0,publish
802,10775,Albert Mann Pinot Gris Vendanges Tardives Alte...,6.0,0.0,publish
...,...,...,...,...,...
33,9636,Wemyss Malts Blended Malt Scotch Whisky The Hi...,0.0,0.0,publish
167,9937,Marcel Richaud Cairanne Rouge Les Estrambords ...,2.0,0.0,publish
728,9937,Marcel Richaud Cairanne Rouge Les Estrambords ...,2.0,0.0,publish
842,bon-cadeau-25-euros,Bon cadeau de 25â‚¬,7.0,0.0,publish
1387,bon-cadeau-25-euros,Bon cadeau de 25â‚¬,7.0,0.0,publish

In [34]:
# Supprimer les lignes totalement identiques (mÃªme SKU + mÃªme valeurs)
df_final = df_web_clean.drop_duplicates(subset=["sku"], keep="first")

print(f"âœ… Nombre de lignes aprÃ¨s suppression des doublons : {len(df_final)}")
print(f"ðŸ§© Nombre de SKU uniques : {df_final['sku'].nunique()}")

âœ… Nombre de lignes aprÃ¨s suppression des doublons : 714
ðŸ§© Nombre de SKU uniques : 714

<div style="background:#FFA726; color:black; padding:15px 40px; border-radius:10px;
font-family:Segoe UI; font-size:16px; text-align:center; width:fit-content; margin:30px auto;">
<b>RÃ©sultat :</b><br>
ðŸš¨ <b>85 produits</b> n'ont pas de code SKU renseignÃ©.<br>
ðŸ“‹ Ces lignes sont quasi vides et concernent des articles non identifiÃ©s.<br>
ðŸ’¡ Les lignes ont Ã©tÃ© ignorÃ©es.
</div>

In [35]:

df_web[df_web["sku"] == 16326]

,sku,post_title,post_content,total_sales,average_rating,rating_count,post_status,tax_class,product_type
1146,16326,Camin Larredya JuranÃ§on Moelleux Au CapcÃ©u 2018,NaN,5.0,0.0,0,publish,NaN,Vin
1508,16326,Camin Larredya JuranÃ§on Moelleux Au CapcÃ©u 2018,NaN,5.0,0.0,0,publish,NaN,Vin

In [36]:
#Les lignes sans code article semblent Ãªtre toutes non renseignÃ©es
#Pour s'en assurer, rÃ©aliser les Ã©tapes suivantes:
#CrÃ©er un dataframe avec uniquement les lignes sans code article
df_sans_sku = df_web[df_web["sku"].isna() | (df_web["sku"].astype(str).str.strip() == "")]

#Afficher les informations
print("ðŸ“‹ Informations sur les lignes sans code SKU :")
df_sans_sku.info()

ðŸ“‹ Informations sur les lignes sans code SKU :
<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 8 to 1457
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sku             0 non-null      object
 1   post_title      2 non-null      object
 2   post_content    0 non-null      float64
 3   total_sales     2 non-null      float64
 4   average_rating  2 non-null      float64
 5   rating_count    85 non-null     int64
 6   post_status     2 non-null      object
 7   tax_class       0 non-null      float64
 8   product_type    2 non-null      object
dtypes: float64(4), int64(1), object(4)
memory usage: 6.6+ KB

<div style="font-family:Segoe UI, Arial; font-size:17px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #444;
width:fit-content; margin:30px auto; text-align:left; box-shadow:0 0 15px #00000055;">
<p>ðŸ“¦ <b>Analyse des codes articles (SKU)</b></p>
<p>âœ… <b>85 produits</b> sans code SKU ont Ã©tÃ© dÃ©tectÃ©s et isolÃ©s pour vÃ©rification.<br>
âœ… <b>714 SKU dupliquÃ©s</b> ont Ã©tÃ© identifiÃ©s (soit 1428 lignes concernÃ©es) puis supprimÃ©s pour ne conserver quâ€™un exemplaire unique.<br>
âœ… Le jeu de donnÃ©es final contient <b>714 SKU uniques</b> sur <b>1428 produits</b> initiaux.<br><br>
</div>

<a id="etape2_3"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    2.3 - Analyse exploratoire du fichier liaison.xlsx
  </h3>
</div>

In [37]:
# Dimension du dataset
nb_lignes, nb_colonnes = df_liaison.shape

# Nombre d'observations
print(f"Nombre d'observations : {nb_lignes}")

# Nombre de caractÃ©ristiques
print(f"Nombre de caractÃ©ristiques : {nb_colonnes}")

Nombre d'observations : 825
Nombre de caractÃ©ristiques : 2

<div style="font-family:Segoe UI, Arial; font-size:16px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #fbc02d;
width:fit-content; margin:20px auto; text-align:left; box-shadow:0 0 15px #00000055;">
<p>ðŸ“Š <b>Dimension du dataset <span style='color:#ffcc00;'>liaison.xlsx</span></b></p>
<p>ðŸ”¹ <b>Nombre dâ€™observations :</b> <span style='color:#ffcc00;'><b>825</b></span><br>
ðŸ”¹ <b>Nombre de caractÃ©ristiques :</b> <span style='color:#ffcc00;'><b>2</b></span></p>
<p>âœ… Le fichier contient un volume de donnÃ©es cohÃ©rent pour lâ€™analyse.</p>
</div>

In [38]:
# Consulter le nombre de colonnes
print("Nombre de colonnes :", len(df_liaison.columns))

# La nature des donnÃ©es dans chacune des colonnes
print("\nTypes de donnÃ©es :")
display(df_liaison.dtypes)

# Le nombre de valeurs prÃ©sentes dans chacune des colonnes
print("\nValeurs non nulles :")
display(df_liaison.info())

Nombre de colonnes : 2

Types de donnÃ©es :

id_web        object
product_id     int64
dtype: object

Valeurs non nulles :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_web      734 non-null    object
 1   product_id  825 non-null    int64
dtypes: int64(1), object(1)
memory usage: 13.0+ KB

None

<div style="font-family:Segoe UI, Arial; font-size:16px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #fbc02d;
width:fit-content; margin:20px auto; text-align:left; box-shadow:0 0 15px #00000055;">
<p>ðŸ“‚ <b>Structure du fichier <span style='color:#ffcc00;'>liaison.xlsx</span></b></p>
<p>ðŸ”¸ <b>Nombre total de colonnes : 2</b><br>
ðŸ”¸ <b>Types de donnÃ©es :</b> int64, object<br>
ðŸ”¸ <b>Valeurs non nulles :</b> <span style='color:#ffcc00;'><b>734</b></span> sur <b style='color:#ffcc00;'>id_web</b>,
<span style='color:#ffcc00;'><b>825</b></span> sur <b>product_id</b>.</p>
<p>ðŸ’¡ <i>Remarque :</i> la colonne <b style='color:#ffcc00;'>id_web</b> prÃ©sente des valeurs manquantes (NaN)
qui devront Ãªtre traitÃ©es avant les jointures.</p>
</div>

In [39]:
# Les valeurs de la colonne "product_id" sont-elles toutes uniques ?
nb_uniques_product = df_liaison["product_id"].nunique()
nb_total_product = len(df_liaison)

print(f"ðŸ” Nombre total de lignes dans le fichier de liaison : {nb_total_product}")
print(f"ðŸ” Nombre de valeurs uniques dans 'product_id' : {nb_uniques_product}")

if nb_uniques_product == nb_total_product:
    print("âœ… Toutes les valeurs de 'product_id' sont uniques.")
else:
    print(f"âš ï¸ Il existe {nb_total_product - nb_uniques_product} doublon(s) dans la colonne 'product_id'.")

ðŸ” Nombre total de lignes dans le fichier de liaison : 825
ðŸ” Nombre de valeurs uniques dans 'product_id' : 825
âœ… Toutes les valeurs de 'product_id' sont uniques.

In [40]:
# Les valeurs de la colonne "id_web" sont-elles toutes uniques ?
nb_uniques_web = df_liaison["id_web"].nunique()
nb_total_web = len(df_liaison["id_web"])
doublons_web = nb_total_web - nb_uniques_web

if doublons_web == 0:
    print("âœ… Tous les 'id_web' sont uniques.")
else:
    print(f"âš ï¸ {doublons_web} doublons dÃ©tectÃ©s dans 'id_web'.")

âš ï¸ 91 doublons dÃ©tectÃ©s dans 'id_web'.

In [41]:
# Avons-nous des articles sans correspondance ?
articles_sans_liaison = df_liaison[
    df_liaison["product_id"].isna() | df_liaison["id_web"].isna()
]

print(f"ðŸ” Articles sans correspondance : {len(articles_sans_liaison)}")

if not articles_sans_liaison.empty:
    display(articles_sans_liaison.head())
else:
    print("âœ… Tous les articles ont une correspondance entre product_id et id_web.")

ðŸ” Articles sans correspondance : 91

    id_web  product_id
19     NaN        4055
49     NaN        4090
50     NaN        4092
119    NaN        4195
131    NaN        4209

<div style="font-family:Segoe UI, Arial; font-size:16px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #fbc02d;;
width:fit-content; margin:20px auto; text-align:left; box-shadow:0 0 15px #00000055;">
<p>ðŸ”— <b>Analyse des correspondances entre les identifiants</b></p>
<p>âœ… Aucun doublon rÃ©el dÃ©tectÃ© dans <b style='color:#ffcc00;'>id_web</b> aprÃ¨s vÃ©rification.<br>
âš ï¸ <b>91 valeurs manquantes</b> ont Ã©tÃ© dÃ©tectÃ©es, indiquant des articles sans correspondance entre
<b style='color:#ffcc00;'>product_id</b> et <b style='color:#ffcc00;'>id_web</b>.</p>
</div>

<a id="etape3"></a>
<div style="
  border: 1px solid RGB(0,150,250);
  border-radius:5px;
  background-color:rgba(125, 194, 204, 0.15);
  margin:auto;
">

  <h2 style="
    margin:auto;
    padding:15px 20px;
    background-color:RGB(51,165,182);
    color:#fff;
    display:flex;
    align-items:center;
    border-radius:5px;
  ">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="30" style="vertical-align:middle;">
    </a>
    Ã‰tape 3 - Jonction des fichiers
  </h2>
</div>

<a id="etape3_1"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 3.1 - Jonction du fichier df_erp et df_liaison
  </h3>
</div>

In [42]:
#Fusion des fichiers df_erp et df_liaison
df_merged = pd.merge(df_erp, df_liaison, on="product_id", how="left")

# VÃ©rification de la taille du nouveau dataset
print(f"Nombre de lignes aprÃ¨s fusion : {len(df_merged)}")
print(f"Nombre de colonnes aprÃ¨s fusion : {len(df_merged.columns)}")
display(df_merged.head())

Nombre de lignes aprÃ¨s fusion : 825
Nombre de colonnes aprÃ¨s fusion : 7

,product_id,onsale_web,price,purchase_price,stock_quantity,stock_status,id_web
0,3847,1,24.2,12.88,16,instock,15298
1,3849,1,34.3,17.54,10,instock,15296
2,3850,1,20.8,10.64,0,outofstock,15300
3,4032,1,14.1,6.92,26,instock,19814
4,4039,1,46.0,23.77,3,instock,19815

In [43]:
#Y a t-il des lignes ne "matchant" pas entre les 2 fichiers?
# âš ï¸ Identifier les lignes sans correspondance entre df_erp et df_liaison
articles_non_match = df_merged[df_merged["id_web"].isna()]

print(f"ðŸ” Nombre de lignes sans correspondance : {len(articles_non_match)}")

# DÃ©terminer les colonnes disponibles pour Ã©viter les KeyError
colonnes_affichables = [col for col in ["product_id", "post_title", "stock_status", "price"] if col in articles_non_match.columns]

if not articles_non_match.empty:
    display(articles_non_match[colonnes_affichables].head(10))
else:
    print("âœ… Toutes les lignes ont une correspondance entre df_erp et df_liaison.")

ðŸ” Nombre de lignes sans correspondance : 91

     product_id stock_status  price
19         4055   outofstock   86.1
49         4090   outofstock   73.0
50         4092   outofstock   47.0
119        4195   outofstock   14.1
131        4209   outofstock   73.5
151        4233   outofstock    0.0
184        4278   outofstock   21.5
185        4279   outofstock   10.8
234        4565      instock   30.5
238        4577      instock   49.0

<div style="font-family:Segoe UI, Arial; font-size:16px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #444;
width:fit-content; margin:20px auto; text-align:left;">

<p>ðŸ§© <b>RÃ©sultat de la jonction des fichiers</b></p>

<p>âš ï¸ <b>91 ligne(s)</b> sans correspondance dÃ©tectÃ©e(s) entre <b>df_erp</b> et <b>df_liaison</b>.<br>
ðŸ’¡ Ces produits nâ€™ont pas trouvÃ© de lien dans la table de liaison.</p>

</div>

<a id="etape3_2"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 3.2 - Jonction du fichier df_merge et df_web
  </h3>
</div>

In [44]:
# Harmoniser les types pour assurer la correspondance entre les colonnes id_web et sku

# Supprimer les lignes sans identifiant web (id_web vide ou NaN)
df_merged = df_merged[df_merged["id_web"].notna()]
df_merged = df_merged[df_merged["id_web"].astype(str).str.strip() != ""]

# Supprimer les doublons sur id_web
df_merged = df_merged.drop_duplicates(subset=["id_web"], keep="first")

print(f"âœ… Lignes conservÃ©es aprÃ¨s nettoyage de id_web : {len(df_merged)}")

âœ… Lignes conservÃ©es aprÃ¨s nettoyage de id_web : 734

In [70]:
# VÃ©rifier s'il existe encore des doublons dans id_web aprÃ¨s nettoyage
doublons_idweb = df_merged[df_merged["id_web"].duplicated(keep=False)].sort_values("id_web")

nb_doublons = len(doublons_idweb)
nb_uniques = df_merged["id_web"].nunique()
nb_total = len(df_merged)

print(f"âš ï¸ {nb_doublons} doublon(s) trouvÃ©(s) dans la colonne id_web aprÃ¨s nettoyage.")
print(f"ðŸ”¢ Nombre total d'identifiants id_web uniques : {nb_uniques}")
print(f"ðŸ“Š Nombre total de lignes : {nb_total}")

# Afficher les doublons dÃ©tectÃ©s (si prÃ©sents)
if nb_doublons > 0:
    display(doublons_idweb[["id_web", "product_id", "price", "stock_status"]].head(10))
else:
    print("âœ… Aucun doublon dÃ©tectÃ© dans la colonne id_web.")

âš ï¸ 0 doublon(s) trouvÃ©(s) dans la colonne id_web aprÃ¨s nettoyage.
ðŸ”¢ Nombre total d'identifiants id_web uniques : 734
ðŸ“Š Nombre total de lignes : 734
âœ… Aucun doublon dÃ©tectÃ© dans la colonne id_web.

In [45]:
# VÃ©rifier s'il reste des lignes sans correspondance
print("\nNombre total de valeurs manquantes par colonne :")
print(df_final.isna().sum())

Nombre total de valeurs manquantes par colonne :
sku                 0
post_title          0
post_content      714
total_sales         0
average_rating      0
rating_count        0
post_status         0
tax_class         714
product_type        0
dtype: int64

In [46]:
# VÃ©rifier quels id_web du ERP ne sont pas prÃ©sents dans le site web
ids_non_trouves = df_merged[~df_merged["id_web"].isin(df_web["sku"])]
print(f"ðŸ’¬ Nombre d'identifiants ERP sans correspondance dans df_web : {len(ids_non_trouves)}")
display(ids_non_trouves.head(10))

ðŸ’¬ Nombre d'identifiants ERP sans correspondance dans df_web : 20

,product_id,onsale_web,price,purchase_price,stock_quantity,stock_status,id_web
193,4289,0,22.8,11.90,0,outofstock,13771
236,4568,0,21.5,11.22,0,outofstock,15065
241,4584,0,32.3,17.36,0,outofstock,14785
355,4741,0,12.4,6.66,0,outofstock,12601
391,4864,0,8.3,9.99,0,outofstock,15154
394,4869,0,17.2,9.33,0,outofstock,14360
424,4921,0,13.8,7.13,0,outofstock,15608
425,4922,0,21.5,10.55,0,outofstock,15586
470,5018,0,15.4,7.72,0,outofstock,15272
473,5021,0,17.1,8.92,0,outofstock,15630

<div style="font-family:Segoe UI, Arial; font-size:16px; color:#e0e0e0;
background-color:#1e1e1e; padding:20px; border-radius:10px; border:1px solid #444;
width:fit-content; margin:20px auto; text-align:left;">

<b>RÃ©sultat :</b><br>
ðŸ§¹ Les lignes sans identifiant <b>id_web</b> ont Ã©tÃ© supprimÃ©es.<br>
ðŸ” Les doublons restants ont Ã©tÃ© identifiÃ©s et supprimÃ©s pour ne garder quâ€™un exemplaire unique.<br>
âœ… Le jeu de donnÃ©es est dÃ©sormais propre et prÃªt pour la fusion avec les donnÃ©es du site.
</div>

<a id="etape4"></a>
<div style="
  border: 1px solid RGB(0,150,250);
  border-radius:5px;
  background-color:rgba(125, 194, 204, 0.15);
  margin:auto;
">

  <h2 style="
    margin:auto;
    padding:15px 20px;
    background-color:RGB(51,165,182);
    color:#fff;
    display:flex;
    align-items:center;
    border-radius:5px;
  ">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="30" style="vertical-align:middle;">
    </a>
    Etape 4 - Analyse univariÃ©e des prix
  </h2>
</div>

<a id="etape4_1"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 4.1 - Exploration par la visualisation de donnÃ©es
  </h3>
</div>

In [47]:
#CrÃ©ation d'une boÃ®te Ã  moustache de la rÃ©partition des prix grÃ¢ce Ã  Pandas

In [48]:
#Autre mÃ©thode avec plotly express

<a id="etape4_2"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 4.2 - Exploration par l'utilisation de mÃ©thodes statistiques
  </h3>
</div>

<a id="etape4_2_1"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 4.2.1 - Identification par le Z-index
  </h3>
</div>

In [49]:
#Calculer la moyenne du prix

#Calculer l'Ã©cart-type du prix

#Calculer le Z-score

In [50]:
#Quel est le seuil prix dont le z-score est supÃ©rieur Ã  3?

<a id="etape4_2_2"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 4.2.2 - Identification par l'intervalle interquartile
  </h3>
</div>

In [51]:
#Utilisation de la fonction "describe" de Pandas pour l'Ã©tude des mesures de dispersion

In [52]:
#DÃ©finir un seuil pour les articles "outliers" en prix

In [53]:
#DÃ©finir le nombre d'articles et la proportion de l'ensemble du catalogue "outliers"

In [54]:
#Selon vous, ces outliers sont-ils justifiÃ©s ? Comment le dÃ©montrer si cela est possible ?

<a id="etape5"></a>
<div style="
  border: 1px solid RGB(0,150,250);
  border-radius:5px;
  background-color:rgba(125, 194, 204, 0.15);
  margin:auto;
">

  <h2 style="
    margin:auto;
    padding:15px 20px;
    background-color:RGB(51,165,182);
    color:#fff;
    display:flex;
    align-items:center;
    border-radius:5px;
  ">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="40" style="vertical-align:middle;">
    </a>
    Etape 5 - Analyse univariÃ©e du CA, des quantitÃ©s vendues, des stocks et de la marge ainsi qu'une analyse multivariÃ©e
  </h2>
</div>

<a id="etape5_1"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 5.1 - Analyse des ventes en CA
  </h3>
</div>

In [55]:
##############################
# Calculer le CA du site web #
##############################

#CrÃ©er une colonne calculant le CA par article

#Calculer la somme de la colonne "ca_par_article"
#Ce rÃ©sultat correspond au chiffre d'affaire du site web

In [56]:
###############################
# PalmarÃ¨s des articles en CA #
###############################

#Effectuer le tri dans l'ordre dÃ©croissant du CA du dataset df_merge

#RÃ©initialiser l'index du dataset par un reset_index

#Afficher les 20 premiers articles en CA

#Graphique en barre des 20 premiers articles avec plotly express

In [57]:
#############################
# Calculer le 20 / 80 en CA #
#############################

#CrÃ©er une colonne calculant la part du CA de la ligne dans le dataset

#CrÃ©er une colonne rÃ©alisant la somme cumulative de la colonne prÃ©cedemment crÃ©Ã©e

#GrÃ¢ce aux deux colonnes crÃ©Ã©es prÃ©cedemment, calculer le nombre d'articles reprÃ©sentant 80% du CA

#Afficher la proportion que reprÃ©sente ce groupe d'articles dans le catalogue entier du site web

<a id="etape5_2"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 5.2 - Analyse des ventes en quantitÃ©
  </h3>
</div>

In [58]:
#####################################
# PalmarÃ¨s des articles en quantitÃ© #
#####################################

#Effectuer le tri dans l'ordre dÃ©croissant de quantitÃ©s vendues du dataset df_merge

#RÃ©initialiser l'index du dataset par un reset_index

#Afficher les 20 premiers articles en quantitÃ©

#Graphique en barre des 20 premiers articles avec plotly express

In [59]:
#############################
# Calculer le 20 / 80 en CA #
#############################

#CrÃ©er une colonne calculant la part en quantitÃ© de la ligne dans le dataset

#CrÃ©er une colonne rÃ©alisant la somme cumulative de la colonne prÃ©cedemment crÃ©Ã©e

#GrÃ¢ce aux deux colonnes crÃ©Ã©es prÃ©cedemment, calculer le nombre d'articles reprÃ©sentant 80% des ventes en quantitÃ©

#Afficher la proportion que reprÃ©sente ce groupe d'articles dans le catalogue entier du site web

<a id="etape5_3"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 5.3 - Analyse des stocks
  </h3>
</div>

In [60]:
######################################
# Calculer le nombre de mois de stock #
######################################

#Import de numpy 

#CrÃ©ation de la colonne Rotation de stock

#Remplacement des "inf" par 0

#Effectuer le tri dans l'ordre dÃ©croissant du nombre de mois de stock dans le dataset df_merge

#Graphique en barre du flop 20 des produits qui ont le plus de mois de stock

In [61]:
####################################
# Valorisation des stocks en euros #
####################################

#CrÃ©ation de la colonne Valorisation des stocks en euros

#Calculer la somme de la colonne "Valorisation_stock_euros"

In [62]:
##############################################
# Valorisation du nombre de produits en stock #
##############################################

#Calculer la somme de la colonne stock quantity

<a id="etape5_4"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 5.4 - Analyse du taux de marge
  </h3>
</div>

In [63]:
############################
# Analyse du taux de marge #
############################

#CrÃ©ation de la colonne Prix HT

#CrÃ©ation de la colonne Taux de marge

#Afficher le prix minimum de la colonne "taux_marge"

#Afficher le prix maximum de la colonne "taux_marge"

In [64]:
#Affichage de la ligne avec un taux de marge infÃ©rieur Ã  0

In [65]:
#CrÃ©ation d'un dataframe avec les taux positifs

#Afficher le prix minimum de la colonne "taux_marge"

#Afficher le prix maximum de la colonne "taux_marge"

In [66]:
#CrÃ©ation d'un dataframe avec le taux de marge moyen par type de produit

#Affichage dans un graphique du taux de marge par type de produit

<a id="etape5_5"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 5.5 - Analyse des corrÃ©lations entre les variables stock, sales et price
  </h3>
</div>

In [67]:
############################
# Analyse des corrÃ©lations #
############################

#Importation de Seaborn

#CrÃ©ation d'une heatmap de corrÃ©lation avec les variables stock, sales et price
#On peut Ã©galement crÃ©er un mask pour n'afficher qu'une demi heatmap

In [68]:
#Que peut-on conclure des corrÃ©lations ?

<a id="etape5_6"></a>
<div style="border: 1px solid RGB(0,150,250); border-radius:5px; background-color:rgba(51,165,182,0.05);">

  <h3 style="margin:auto; padding:15px 20px; color:RGB(51,165,182); display:flex; align-items:center;">
    <a href="#top" style="text-decoration:none; display:flex; align-items:center; margin-right:10px;">
      <img src="assets/img/house-solid-full.svg" width="16"
           style="vertical-align:middle; filter: invert(64%) sepia(53%) saturate(379%) hue-rotate(150deg) brightness(95%) contrast(92%);">
    </a>
    Etape 5.6 - Mise Ã  disposition de la nouvelle table sur un fichier Excel
  </h3>
</div>

In [69]:
#Mettre le dataset df_merge sur un fichier Excel
#Cette Ã©tape peut Ãªtre utile pour partager le rÃ©sultat du dataset obtenu avec les Ã©quipes.